<a href="https://colab.research.google.com/github/mccoy0928/pandas_dataframe/blob/main/Pandas_try_it.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 大綱介紹

## 建立DataFrame
* my_dataframe = pandas.DataFrame(字典或陣列資料)

In [5]:
import pandas as pd


grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)

print("使用字典來建立df：")
print(df)

print("=====================")

grades = [
    ["Mike", 80, 63],
    ["Sherry", 75, 90],
    ["Cindy", 93, 85],
    ["John", 86, 70]
]

new_df = pd.DataFrame(grades)

print("使用陣列來建立df：")
print(new_df)

使用字典來建立df：
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=====================
使用陣列來建立df：
        0   1   2
0    Mike  80  63
1  Sherry  75  90
2   Cindy  93  85
3    John  86  70

## index & columns
* 從執行結果可以看到，相同的資料內容，使用Python字典(Dictionary)來進行指定的話，鍵值(Key)就是Pandas DataFrame的欄位名稱，值(Value)則是該欄位的資料內容。而使用陣列來指定的話，就是單純的每一筆資料內容。

* 如果想要客製化Pandas DataFrame的資料索引及欄位名稱，可以分別利用index及columns屬性(Attribute)來達成，如下範例：

In [2]:

grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)
df.index = ["s1", "s2", "s3", "s4"]  #自訂索引值
df.columns = ["student_name", "math_score", "chinese_score"]  #自訂欄位名稱
print(df)

   student_name  math_score  chinese_score
s1         Mike          80             63
s2       Sherry          75             90
s3        Cindy          93             85
s4         John          86             70

## 取得Pandas DataFrame資料

* head()：取得最前面的n筆資料，並且會回傳一個新的Pandas

* tail()：取得最後面的n筆資料，並且會回傳一個新的Pandas DataFrame資料集，如下範例：

In [3]:
print(df.head(2))
print(df.tail(2))

   student_name  math_score  chinese_score
s1         Mike          80             63
s2       Sherry          75             90
   student_name  math_score  chinese_score
s3        Cindy          93             85
s4         John          86             70

* 中括號[]：在中括號中指定「欄位名稱」或「資料索引值」，來取得所需的資料集，如下範例：

In [7]:
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)
print("取得單一欄位資料(型別為Series)")
print(df["name"])

print("=================================")

print("取得單一欄位資料(型別為DataFrame)")
print(df[["name"]])

print("=================================")

print("取得多欄位資料(型別為DataFrame)")
print(df[["name", "chinese"]])

print("=================================")

print("取得索引值0~2的資料")
print(df[0:3])

取得單一欄位資料(型別為Series)
0      Mike
1    Sherry
2     Cindy
3      John
Name: name, dtype: object
=================================
取得單一欄位資料(型別為DataFrame)
     name
0    Mike
1  Sherry
2   Cindy
3    John
=================================
取得多欄位資料(型別為DataFrame)
     name  chinese
0    Mike       63
1  Sherry       90
2   Cindy       85
3    John       70
=================================
取得索引值0~2的資料
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85

* at[資料索引值,欄位名稱]：利用資料索引值及欄位名稱來取得「單一值」，如下範例：

* iat[資料索引值,欄位順序]：利用資料索引值及欄位順序來取得「單一值」，如下範例：

In [10]:
print(df.at[1,'name'])
print(df.iat[1,0])

Sherry
Sherry

* loc[資料索引值,欄位名稱]：利用資料索引值及欄位名稱來取得「資料集」，如下範例：

* iloc[資料索引值,欄位順序]：利用資料索引值及欄位順序來取得「資料集」，如下範例：

In [12]:
print(df.loc[1,'name'])
print(df.iloc[1,0])

Sherry
Sherry

## 新增Pandas DataFrame資料

* insert()：在指定的欄位位置新增欄位資料，如下範例：

In [13]:
print("原來的df")
print(df)

print("=================================")

df.insert(2, column="engilsh", value=[88, 72, 74, 98])
print("在第三欄的地方新增一個欄位資料")
print(df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
在第三欄的地方新增一個欄位資料
     name  math  engilsh  chinese
0    Mike    80       88       63
1  Sherry    75       72       90
2   Cindy    93       74       85
3    John    86       98       70

* append()：新增一筆或一列的資料，透過傳入字典(Dictionary)來指定各欄位的值，並且會回傳一個新的Pandas DataFrame資料集，如下範例：

In [14]:
print("原來的df")
print(df)

print("=================================")

new_df = df.append({
    "name": "Henry",
    "math": 60,
    "chinese": 62
}, ignore_index=True)

print("新增一筆資料")
print(new_df)

原來的df
     name  math  engilsh  chinese
0    Mike    80       88       63
1  Sherry    75       72       90
2   Cindy    93       74       85
3    John    86       98       70
=================================
新增一筆資料
     name  math  engilsh  chinese
0    Mike    80     88.0       63
1  Sherry    75     72.0       90
2   Cindy    93     74.0       85
3    John    86     98.0       70
4   Henry    60      NaN       62

<ipython-input-14-f1564a97016d>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = df.append({

* concat()：利用合併多個Pandas DataFrame的方式來新增資料，並且會回傳一個新的Pandas DataFrame資料集，如下範例：

In [15]:
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df1 = pd.DataFrame(grades)
print("原來的df")
print(df1)

print("=================================")

df2 = pd.DataFrame({
    "name": ["Henry"],
    "math": [60],
    "chinese": [62]
})

new_df = pd.concat([df1, df2], ignore_index=True)
print("合併df來新增資料")
print(new_df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
合併df來新增資料
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
4   Henry    60       62

## 修改Pandas DataFrame資料

利用Pandas DataFrame的at[]及iat[]取得所要修改的單一值後，來進行資料內容的修改，如下範例：

In [16]:
print("原來的df")
print(df)

print("=================================")

df.at[1, "math"] = 100  #修改索引值為1的math欄位資料
df.iat[1, 0] = "Larry"  #修改索引值為1的第一個欄位資料
print("修改後的df")
print(df)

原來的df
     name  math  engilsh  chinese
0    Mike    80       88       63
1  Sherry    75       72       90
2   Cindy    93       74       85
3    John    86       98       70
=================================
修改後的df
    name  math  engilsh  chinese
0   Mike    80       88       63
1  Larry   100       72       90
2  Cindy    93       74       85
3   John    86       98       70

## 刪除Pandas DataFrame資料

* drop(欄位名稱串列,axis=1)：刪除指定欄位名稱的欄位，並且會回傳一個新的Pandas DataFrame資料集，如下範例：

In [17]:
print("原來的df")
print(df)

print("=================================")

new_df = df.drop(["math"], axis=1)
print("刪除math欄位")
print(new_df)

原來的df
    name  math  engilsh  chinese
0   Mike    80       88       63
1  Larry   100       72       90
2  Cindy    93       74       85
3   John    86       98       70
=================================
刪除math欄位
    name  engilsh  chinese
0   Mike       88       63
1  Larry       72       90
2  Cindy       74       85
3   John       98       70

* drop(資料索引串列,axis=0)：刪除指定資料索引的資料，並且會回傳一個新的Pandas DataFrame資料集，如下範例：

In [18]:
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)
print("原來的df")
print(df)

print("=================================")

new_df = df.drop([0, 3], axis=0)  # 刪除第一筆及第四筆資料
print("刪除第一筆及第四筆資料")
print(new_df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
刪除第一筆及第四筆資料
     name  math  chinese
1  Sherry    75       90
2   Cindy    93       85

* dropna()：刪除含有NaN或空值的資料，並且會回傳一個新的Pandas DataFrame資料集，在進行資料清理的時候非常實用，如下範例：

In [20]:
import numpy as np

grades = {
    "name": ["Mike", "Sherry", np.NaN, "John"],
    "city": ["Taipei", np.NaN, "Kaohsiung", "Taichung"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)
print("原來的df")
print(df)

print("======================================")

new_df = df.dropna()
print("刪除空值後的df")
print(new_df)

原來的df
     name       city  math  chinese
0    Mike     Taipei    80       63
1  Sherry        NaN    75       90
2     NaN  Kaohsiung    93       85
3    John   Taichung    86       70
======================================
刪除空值後的df
   name      city  math  chinese
0  Mike    Taipei    80       63
3  John  Taichung    86       70

* drop_duplicates()：刪除重複的資料，並且會回傳一個新的Pandas DataFrame資料集，同樣最常應用在資料清理的時候，如下範例：

In [21]:
grades = {
    "name": ["Mike", "Mike", "Cindy", "John"],
    "city": ["Taipei", "Taipei", "Kaohsiung", "Taichung"],
    "math": [80, 80, 93, 86],
    "chinese": [80, 80, 93, 86]
}

df = pd.DataFrame(grades)
print("原來的df")
print(df)

print("======================================")

new_df = df.drop_duplicates()
print("刪除重複值後的df")
print(new_df)

原來的df
    name       city  math  chinese
0   Mike     Taipei    80       80
1   Mike     Taipei    80       80
2  Cindy  Kaohsiung    93       93
3   John   Taichung    86       86
======================================
刪除重複值後的df
    name       city  math  chinese
0   Mike     Taipei    80       80
2  Cindy  Kaohsiung    93       93
3   John   Taichung    86       86

## 篩選Pandas DataFrame資料

* 通常在處理大量的資料集時，有很高的機率會需要利用條件式來篩選所需的資料，這時候就可以利用中括號[]存取欄位來進行資料篩選，如下範例：

In [22]:
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)

print("原來的df")
print(df)

print("=================================")

print("篩選math大於80的資料集")
print(df[df["math"] > 80])

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
篩選math大於80的資料集
    name  math  chinese
2  Cindy    93       85
3   John    86       70

* 另一個最常見的資料篩選情境，就是找出包含特定值的資料集，這時候可以利用Pandas DataFrame的isin()方法(Method)來達成，如下範例：

In [23]:
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)

print("原來的df")
print(df)

print("=================================")

print("篩選name欄位包含John的資料集")
print(df[df["name"].isin(["John"])])

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
篩選name欄位包含John的資料集
   name  math  chinese
3  John    86       70

## 排序Pandas DataFrame資料

* sort_index()：依照索引值來進行排序，並且會回傳一個新的Pandas DataFrame資料集，如下範例：

In [24]:
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)
df.index = ["s3", "s1", "s4", "s2"]  # 自訂資料索引值

print("原來的df")
print(df)

print("============================")

new_df = df.sort_index(ascending=True)
print("遞增排序")
print(new_df)

print("============================")

new_df = df.sort_index(ascending=False)
print("遞減排序")
print(new_df)

原來的df
      name  math  chinese
s3    Mike    80       63
s1  Sherry    75       90
s4   Cindy    93       85
s2    John    86       70
============================
遞增排序
      name  math  chinese
s1  Sherry    75       90
s2    John    86       70
s3    Mike    80       63
s4   Cindy    93       85
============================
遞減排序
      name  math  chinese
s4   Cindy    93       85
s3    Mike    80       63
s2    John    86       70
s1  Sherry    75       90

* sort_values()：依照欄位內容來進行排序，並且會回傳一個新的Pandas DataFrame資料集，下面範例以math欄位內容來進行排序：

In [25]:
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)

print("原來的df")
print(df)

print("============================")

new_df = df.sort_values(["math"], ascending=True)
print("遞增排序")
print(new_df)

print("============================")

new_df = df.sort_values(["math"], ascending=False)
print("遞減排序")
print(new_df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
============================
遞增排序
     name  math  chinese
1  Sherry    75       90
0    Mike    80       63
3    John    86       70
2   Cindy    93       85
============================
遞減排序
     name  math  chinese
2   Cindy    93       85
3    John    86       70
0    Mike    80       63
1  Sherry    75       90